@charset "UTF-8";

.photo{
  float: left;
  margin-right: 30px;
}


.curry_picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius:0;
  margin: 5px;
  width: 80px;
  height: 30px;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.btn;hover{
  opacity: 0.5;
}

.btn:active{
  color:red;
}

.btn-submit{
  background-color: yellow;
}

.btn-reset{
  background-color: lightcoral;
}

#ingredient{
  border: 2px solid lightcoral;
  }
  
  th,td{
    border: 2px solid lightcoral;
  }
