











.photo{
  float: left;
  margin-right: 30px;
}



.curry_picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}
